# Site
NEXT_PUBLIC_SITE_NAME="Nexora Agency"
NEXT_PUBLIC_SITE_TAGLINE="Nous créons des produits digitaux qui font la différence"
NEXT_PUBLIC_SITE_DESCRIPTION="Nexora est une agence de développement full-service qui conçoit des expériences web et mobiles haute performance pour les startups et les entreprises en croissance."
NEXT_PUBLIC_SITE_URL="https://nexora-agency.fr"
NEXT_PUBLIC_SITE_EMAIL="contact@nexora-agency.fr"

# Contact
NEXT_PUBLIC_SITE_PHONE=""
NEXT_PUBLIC_SITE_PHONE_HREF=""

NEXT_PUBLIC_SITE_ADDRESS="12 Rue de la Paix, 75002 Paris, France"
NEXT_PUBLIC_SITE_ADDRESS_HREF="https://maps.google.com/?q=12+Rue+de+la+Paix+Paris"
NEXT_PUBLIC_SITE_HOURS="Lun — Ven : 9h00 — 18h00"

# Stats
NEXT_PUBLIC_STAT1_VALUE="20+"
NEXT_PUBLIC_STAT2_VALUE="100%"
NEXT_PUBLIC_STAT3_VALUE="3 ans"
NEXT_PUBLIC_STAT4_VALUE="5★"

# Socials
NEXT_PUBLIC_SOCIAL_INSTAGRAM="https://www.instagram.com/nexora_agency.fr/"
NEXT_PUBLIC_SOCIAL_WHATSAPP="https://wa.me/33745014669"
NEXT_PUBLIC_SOCIAL_DISCORD="https://discord.gg/j3XY5DrYgQ"
NEXT_PUBLIC_SOCIAL_LINKEDIN="https://www.linkedin.com/company/106726648/admin/dashboard/"

# SMTP
SMTP_HOST=""
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""
SMTP_TO=""